* {
  box-sizing: border-box;
}

.center {
    text-align: center;
}

.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

nav {
  width: 200px;
  height: 225vh;
  background-color: #f0f0f0;
  padding: 20px;
}
